@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto';
    overflow: hidden;
}

body,
html {
    height: 100%;
    display: grid;
}

#submit {
    transition: 500ms;
    top: 15px;
    margin-left: 30px;
    margin-top: 6%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 32px;
    min-width: 114px;
    height: 36px;
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #09a338;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.4), 0 2px 2px 0 rgba(0, 0, 0, 0.34), 0 1px 5px 0 rgba(0, 0, 0, 0.32);
}

#submit:hover {
    transition: 500ms;
    transform: scale(1.15);
}

b {
    color: #2918c2;
}

#submit:focus {
    outline: none;
}

#cancel:focus {
    outline: 20px;
}

#cancel:hover {
    transition: 500ms;
    transform: scale(1.15);
}

#cancel2 {
    top: 15px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ff0202;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: #ff4141;
}

#title {
    margin-left: 50px;
    text-align: left;
    color: #020202;
    font-size: 33px;
    font-weight: 500;
    background: #6e6e6e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#description {
    margin-left: 50px;
    text-align: left;
    margin-top: -15px;
    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a;
}

#box {
    margin: auto;
    transition: 300ms;
	height: 20rem;
    width: 30rem;
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

#cancel {
    transition: 500ms;
    top: 15px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 32px;
    min-width: 114px;
    height: 36px;
    opacity: 0.9;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff0202;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.4), 0 2px 2px 0 rgba(0, 0, 0, 0.34), 0 1px 5px 0 rgba(0, 0, 0, 0.32);
}


img {
  padding-right: 2%;
}